<div class="mx-5">
    <div class="mt-200"></div>
 <div class="mt-200"></div>
    {{!-- title --}}
    <div class="title">
        <div class="text-center">ショッピングカート</div>
    </div>
    <div class="text-center">

    <p>カート内に商品がありません。</p>

    <a  href="/"　class="btn btn-outline-secondary">ホームページへ</a>

    </div>
    
    <div class="mt-200"></div>
</div>