<div class="mt-200"></div>
{{!-- title --}}
<div class="title">
    <div class="text-center my-5">特定商取引法に基づく表示</div>
</div>
<div class="title_detail text-center my-5">
    <h2>会社概要</h2>
</div>


<div class="offset-lg-3 offset-xl-3 offset-xxl-3 col-lg-6 col-xl-6 col-xxl-6 my-5">


    <div class="shop_info">
        <div>商号</div>
        <p>株式会社サンタ</p>
    </div>
    <div class="shop_info">
        <div>店舗名</div>
        <p>mita sneakers</p>
    </div>
    <div class="shop_info">
        <div>本社所在地</div>
        <p>〒110-0005 東京都台東区上野4-7-8</p>
    </div>
    <div class="shop_info">
        <div>TEL / FAX</div>
        <p>TEL：03-3832-8346 / FAX：03-3832-2254</p>
    </div>
    <div class="shop_info">
        <div>Email</div>
        <p>web@mita-sneakers.co.jp</p>
    </div>
    <div class="shop_info">
        <div>設立</div>
        <p>平成4年8月1日</p>
    </div>
    <div class="shop_info">
        <div>代表者</div>
        <p>代表取締役　三田弘昭</p>
    </div>
    <div class="shop_info">
        <div>営業時間</div>
        <p>平日 11：00〜19：30　土・日・祝日 10：00〜19：30</p>
    </div>
    <div class="shop_info">
        <div>休日</div>
        <p>元日・第三水曜日</p>
    </div>
</div>


<div class="title_detail text-center">
    <h2>支払い・配送について</h2>
</div>


<div class="offset-lg-3 offset-xl-3 offset-xxl-3 col-lg-6 col-xl-6 col-xxl-6 my-5">

    
    <div>お支払い金額</div>
    <p>表示金額（税込）</p>
    <p>※当店では、総額表示の価格となります。</p>

    <div class="shop_info">
        <div>お支払い方法種別</div>
        <p>クレジットカード、Apple Pay、代金引き換え</p>
    </div>
    <div class="shop_info">
        <div>配送業者</div>
        <p>ヤマト運輸</p>
    </div>
    <div class="shop_info">
        <div>送料</div>
        <p>1回のご注文について配送手数料は、日本全国一律500円(税込)となります。</p>
        <p>※商品の発送は日本国内のみに限らせて頂きます。</p>
        <p>※お客様のご都合による返品の場合、通常の全国一律送料1000円を差し引かせていただきます。</p>
    </div>
    <div class="shop_info">
        <div>お届け日時</div>
        <p>お届け日時指定はご注文日の5日後から一週間以内でご指定ください。</p>
        <p>※ご指定がない場合は、最短での発送となります。</p>
    </div>
    <div class="shop_info">
        <div>NIKE商品は通常4営業日以内（離島は除く)にお届けいたしますが、商品の状況によりお時間を頂戴する場合もございます。</div>
        <ul>
            <li>先行予約商品の日時指定はできません。</li>
            <li>一週間以上のお届け日時指定は承ることができませんのでご了承ください。</li>
            <li>一部予約商品等はお届けまでに日数がかかる場合もございます。</li>
            <li>在庫がなかった場合、メールにて納期日をお知らせいたします。</li>
            <li>交通事情・天候等により、ご希望頂いた日時にお届けできない場合がございますので予めご了承下さい。</li>
            <li>店頭でも販売しているため、売り違いの際はご了承ください。</li>
        </ul>
    </div>
    <div class="shop_info">
        <div>クレジット決済について</div>
        <p>ご利用可能クレジットカード一覧</p>
        <p>クレジットカードをご利用でキャンセルとなった場合、
            カード売上請求の締日を超えて売上取消処理を行なう可能性があり、原則として、一旦お客様の口座から、取引金額の引き落としが行われた後、後日返金となります。</p>
        <p>ただし、発行カード会社の締日などにより、引き落としされずにすむケースもあります。
            お客様に対しては、原則として一旦、カード会社から請求がなされ、口座から引き落としされますが、次回以降の引き落としの際に当月分の請求金額と相殺または返金されます。</p>
        <ul>
            <li>デビットカードなどの特殊カードをご利用の場合、カードの特性上、商品在庫有無にかかわらず一旦引き落としが掛かってしまう場合がございます。予めご了承ください。</li>
            <li>宅急便コレクト「お届け時カード払い」はお受けしておりません。ご了承ください。</li>
        </ul>
    </div>

    <div class="shop_info">
        <div>先行予約販売について</div>
        <ul>
            <li>予約商品のお支払いは代金引換のみとさせて頂きます。</li>
            <li>先行予約商品は商品が入荷次第発送となります。事前に発送確認のご連絡が出来ない場合もございます。予めご了承ください。
                （配送の都合により、ご注文時のご指定に添えない場合もございます。）</li>
            <li>予約販売商品のキャンセルは受け賜れませんのでご注意下さい。</li>
            <li>注文状況によりサイズの交換をお受け出来ない場合がございます。</li>
            <li>予約商品の発送については、ご注文確定後にメールにて改めてご案内いたします。</li>
            <li>こちらの商品画像はサンプル品の為、販売時一部デザインの 変更等ある場合がございます。
            </li>
            <li>発売日(発送日)に関しては予定の為、変更になる場合がございます。</li>
        </ul>
    </div>

</div>



<div class="title_detail text-center">
    <h2>返品・キャンセルについて</h2>
</div>

<div class="offset-lg-3 offset-xl-3 offset-xxl-3 col-lg-6 col-xl-6 col-xxl-6 my-5">

    
    <div>返品について
    </div>
    <p>一度購入が確定いたしました商品は、原則として返品が不可能ですので、発注が完了した商品のキャンセルはご容赦ください。

    </p>

    <div class="shop_info">
        <div>返品・交換の条件
        </div>
        <p>お届け致しました商品は、到着後すぐにご確認ください。商品到着後8日以降、返品・返金はお受けできませんことをご了承願います。
            また、お客様での破損・汚損の生じた商品の返品・交換はお受けできませんのでご注意ください。</p>
    </div>
    <div class="shop_info">
        <div>不良品について</div>
        <p>商品の品質には万全を期しておりますが、万一商品が破損・汚損していた場合
            商品の配達後一週間以内にメール・FAX・TELにてご連絡ください折り返し返品先の住所及び返品方法等ご連絡致します。(この場合の送料は当社で負担いたします。）</p>
    </div>
    <div class="shop_info">
        <div>良品について</div>
        <p>お客様のご都合による商品の交換及び返品は、メール又はFAXにてご連絡ください。 (この場合の送料はお客様のご負担となります。）
            商品に使われている素材の特性による個体差は仕様でございますので、その際のご返品はお客様都合とさせて頂きます。</p>
        <p>初回送料の500円に関しましては当社でのサービス送料になっておりますので、お客様のご都合による返品の場合、通常の全国一律送料1000円を差し引いた金額でのご返金となります。(※当店への商品返品送料はお客様実費負担となります。)
        </p>
        <p>※配達後一週間以上経過した商品、お客様の責任での破損・汚損の生じた商品の返品 ・交換はお受けできません。</p>
        <p>また、予約商品等は生産の都合上、原則として返品が不可能ですので、発注が完了した商品のキャンセルはご容赦ください。</p>
    </div>
    <div class="shop_info">
        <div>返品・交換の際の連絡先と商品の送付先</div>
        <p>〒110-0005 東京都台東区上野4-7-8 アメ横センタービル2F</p>
        <p>mita sneakers</p>
        <p>03-3832-8346</p>
        <p>web@mita-sneakers.co.jp</p>
    </div>

</div>

<div class="title_detail text-center">
    <h2>お問い合わせについて</h2>
</div>
<div class="offset-lg-3 offset-xl-3 offset-xxl-3 col-lg-6 col-xl-6 col-xxl-6 my-5">

    
    <div>連絡手段
    </div>
    <p>メール、お電話、FAXにてお願い致します。
    </p>

    <div class="shop_info">
        <div>お問合せ電話番号
        </div>
        <p>03-3832-8346</p>
    </div>
    <div class="shop_info">
        <div>Email</div>
        <p>web@mita-sneakers.co.jp</p>
    </div>
    <div class="shop_info">
        <div>営業時間
        </div>
        <p>平日 11：00〜19：30　土・日・祝日 10：00〜19：30／元日・第三水曜日は除く

        </p>

    </div>

</div>

<div class="title_detail text-center">
    <h2>その他
    </h2>
</div>

<div class="offset-lg-3 offset-xl-3 offset-xxl-3 col-lg-6 col-xl-6 col-xxl-6 my-5 shop_info_sonota">

   
    <div>その他のご注意

    </div>
    <p>・ミタスニーカーズでは実店舗と在庫を共有し常に在庫が変動している為、web shop上の在庫更新の変更が遅れる場合がございます。 その為、注文後でも在庫切れで商品をお届けできない場合
        がございますので恐れ入りますが、予めご了承の程宜しくお願い致します。
        より多くのお客様に商品(サイズレンジ)をご提供頂けるように当店在庫以外にもメーカー様在庫も商品在庫に含ませて頂いております。
        その為、当店在庫切れの場合メーカー様よりお取り寄せ後の発送となります。通常、即日〜2日での発送となりますが、一部お取り寄せ商品につきましては5日間程度お時間を頂く場合もございますので予めご了承の程宜しくお願い致します。
        但しメーカー様にも在庫がない場合もございますので予めご了承の程宜しくお願い致します。また、お届けご指定日のご意向にそえない場合もあります、お時間に余裕をみて頂きますよう合わせてご確認の程宜しくお願い致します。




    </p>
    <p>
        ・商品の画像は極力実物に近くなるよう撮影を心掛けておりますが、お客様がご利用になられるパソコン、モニターの環境や設定によっては、素材感の見え方やカラーが実物と異なって見えてしまう場合がございます。出来るだけ肉眼で見た色目に近づけるよう努力しておりますが、実物と多少色など異なる場合もございますことを予めご了承ください。
    </p>

    <p>・ミタスニーカーズで販売している商品は、お客様に公平なお買い物をして頂く為、いかなる場合におきましても転売目的でのご購入をお断りしております。
        転売目的でのご購入であると判明した場合や、一つの商品につき複数のご注文であったり、複数のご注文が何度も続いた場合等、疑わしいご注文の場合にもお断りさせて頂く場合がございます。また、オークション等への出品が確認されたお客様につきましては今後のご注文、ご購入をお断りさせて
        頂きます。</p>

</div>