<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/venor/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
   <script src="https://code.jquery.com/jquery-latest.js"></script>
    
</head>

<body>

    <form class="search_form_hidden" action="" method="get">
        <div class="search_form container-fluid">

            <div class="input-group">

                <input type="text" class="form-control search_input" name="v" placeholder="検索する">
                <a class="input_button input_button_search">
                    <i class="fa fa-search"></i>
                </a>
                <a class="input_button input_button_close ">
                    <i class="fa fa-times"></i>
                </a>
            </div>

        </div>
    </form>
    <div class="dark_pane">
        {{>header}}
        {{{body}}}
        {{>footer}}
        
    </div>

    
   <script src="/script/script.js"></script>
</body>



</html>