<div class="container-fluid">
    <div class="mt-200"></div>
    <div class="mt-200"></div>
    {{!-- title --}}
    <div class="title">
        <div class="text-center">ログイン</div>
    </div>

    <div class="text-center">
        <form >
         <div class="mb-3">
            <label >メールアドレス</label>
            <input type="email" class="form-control w-50" required id="email_input" autocomplete="on">
        </div>
        <div class="mb-3">
            <label >パスワード</label>
            <input type="password" class="form-control w-50" required  id="password_input" autocomplete="on">
        </div>
        </form>
        <div class="pass_quest">
            <a class="pass_quest_link">パスワードをお忘れですか？</a>

        </div>

        <button id="login_btn" class="btn btn-dark">ログイン</button>

        <div class="account_register ">
            <a href="/account/register" class="account_register_link">アカウントを作成する</a>
        </div>
    </div>
       

    