<div class="mt-200"></div>
<div class="mt-200"></div>
<div class="text-center">
<h4>{{account.username}}は既に存在します。</h4>
<a class="btn btn-outline-secondary" href="./register">アカウントを作成サイトへ</a>
<a class="btn btn-outline-secondary" href="./home">ホームページへ</a>

</div>

<div class="mt-200"></div>