<div class="mt-200"></div>
<div class="mt-200"></div>
<div class="text-center">
    <h4>おめでとうございます！ようこそ{{account.name}}</h4>

    <a class="btn btn-outline-secondary" href="/">ホームページへ</a>

</div>

<div class="mt-200"></div>