<div class="mt-200"></div>
<div class="mt-200"></div>


<div class="text-center">
<h4>{{account.[0].name}}様のお気に入りがエンプティ</h4>
<a href="/" class="btn btn-outline-dark mt-5">ホームページへ</a>
</div>

<div class="mt-200"></div>