<div class="footer container-fluid">

    <div class="row footer_row">

        <div class="col-auto col-sm-auto col-md-2 col-lg-2 col-xl-2 ">
            <ul class="footer_ul">
                <li class="footer_li"><a class="footer_link" href="">ブランド一覧</a></li>
                <li class="footer_li"><a class="footer_link" href="">ブログ</a></li>
                <li class="footer_li"><a class="footer_link" href="">利用規約</a></li>
                <li class="footer_li"><a class="footer_link" href="">返金ポリシー</a></li>
            </ul>
        </div>

        <div class="col-auto col-sm-auto col-md-2 col-lg-2 col-xl-2">
            <ul class="footer_ul">
                <li class="footer_li"><a class="footer_link" href="">スタッフ募集</a></li>
                <li class="footer_li"><a class="footer_link" href="">特定商取引法に基づく表記</a></li>
                <li class="footer_li"><a class="footer_link" href="">プライバシーポリシー</a></li>
            </ul>
        </div>

        <div class="col-4 col-sm-12  offset-md-4  offset-lg-4  offset-xl-4 col-md-4 col-lg-4 col-xl-4">

            <div class="footer_icon_list">
                <ul class="footer_icon_list_ul d-flex ">
                    <li class="footer_icon_list_li">
                        <a class="footer_icon_list_link" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="footer_icon_list_li">
                        <a class="footer_icon_list_link" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="footer_icon_list_li">
                        <a class="footer_icon_list_link" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="footer_icon_list_li ">
                        <a class="footer_icon_list_link" href="">
                            <img src="https://cdn.shopify.com/s/files/1/0265/8012/3707/files/icon_sumally.png?v=1577083783"
                                alt="" class="align-baseline sumary">
                        </a>
                    </li>
                    <li class="footer_icon_list_li">
                        <a class="footer_icon_list_link" href="">
                            <i class="fab fa-amazon"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer_form_email">
                メールマガジン登録
                <form class="form footer_form-custom d-flex">
                    <input type="text" class="form-control footer_form_input" id="inlineFormInputName2"
                        placeholder="メールアドレス">
                    <button type="submit" class="btn btn-secondary footer_form_btn">登録する</button>
                </form>
            </div>


        </div>



    </div>

    <div class="footer_form_email footer_form_email_small_sc ">
        メールマガジン登録
        <form class="form footer_form-custom d-flex">
            <input type="text" class="form-control footer_form_input"  placeholder="メールアドレス">
            <button type="submit" class="btn btn-secondary footer_form_btn">登録する</button>
        </form>
    </div>

</div>




