<nav class="container_fluid navbar ">




    <div class="header-container container-fluid">


        {{!-- header logo --}}
        <div class="logo col-3 col-sm-3 col-md-2 col-lg-2  col-xl-1 col-xxl-2">
            <div class="nav-logo">
                <a class="nav_img_link" href="/"><img class="nav_logo" src="/img/logo.gif" alt=""></a>
            </div>
        </div>

        {{!-- header menu list --}}
        <div class="nav-list-menu col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7 col-xxl-6">

            <ul class="navbar-nav d-flex flex-row flex-wrap justify-content-center align-items-center">
                <li class="nav-item">
                    <a class="nav-link nav-pagi" data-url="get-data-count" href="/collections/new-models/page-1">NEW MODELS
                        <div>
                            新着商品
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/collections">BRANDS
                        <div>
                            ブランド
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/collections/pre-order">PRE-ORDERS
                        <div>
                            先行予約
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-pagi"  data-url="get-data-count" href="/collections/smu/page-1">SMU
                        <div>
                            別注モデル
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/collections/blog">BLOG
                        <div>
                            ブログ
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        {{!-- header menu button --}}
        <div class="nav_button col-2 col-sm-2 col-md-2 ml-2">


            <a href="/" class="nav_btn_link" onclick="">
                <i class="fa fa-bars"></i>
            </a>



        </div>

        {{!-- header icon --}}
        <div class="nav-icon col-7 col-sm-7 col-md-3 col-xl-3 col-xxl-4">
            <ul class="nav-icon-ul d-flex justify-content-left text-tenter">
                <li class="nav-icon-list search-btn-icon">
                    <a href="" class="nav-icon-link">
                        <i class="fa fa-search" aria-hidden="true"></i>

                    </a>
                </li>
                <li class="nav-icon-list nav-icon-list">
                    <a href="/page/infomations" class="nav-icon-link">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div class="nav-icon-link-text">ヘルプ</div>
                    </a>
                </li>
                <li class="nav-icon-list login_icon">
                    <a href="/account/login" class="nav-icon-link">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="nav-icon-link-text">ログイン</div>
                    </a>
                </li>
                <li class="nav-icon-list account_icon" >
                    <a href="/account/store" class="nav-icon-link">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="nav-icon-link-text">アカウント</div>
                    </a>
                </li>
                <li class="nav-icon-list">
                    <a href="/account/cart" class="nav-icon-link">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <div class="nav-icon-link-text">カート</div>
                    </a>
                </li>
            </ul>
        </div>


    </div>




</nav>